.btn {
  margin: 0;
position: absolute;
top: 50%;
left: 50%;
height: 65px;
width: 65px;
background-color: hsl(0, 1%, 60%);
border-style:none;
/* Where did this come from, fixes leftist drawing of the buttons centers buttons*/
-ms-transform: translate(-50%, -50%) rotate(45deg);
transform: translate(-50%, -50%) rotate(45deg);
transition-duration: 0.4s;

}
.btn:hover {
  background-color: hsl(0, 1%, 20%);
  height: 95px;
  width: 95px;
  border-radius: 45px;
}
body{
  min-height: 100vh;
  min-height:100vh;
      margin: 0 auto;
}

#radial {
  position: absolute;
  border-style: dashed;
  border-color: grey;
  border-radius: 100%;
  width: 0px;
  height: 0px;
  /* Where did this come from, fixes leftist drawing of the buttons centers buttons*/
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btnSpan {
  display: inline-block;
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
